.searchBar {
    background-color: white;
    color: black;
    padding-left: 0.5rem;
    font-weight: 600;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 80%;
    height: 3.5rem;
}

.searchBar:focus {
    outline: none;
    /* border-color: blue; */
}

.searchButton {
    background-color: blue;
    border-radius: 0 4px 4px 0;
    height: 3.5rem;
    width: 4rem;
   
}

.searchIcon {
    margin : auto auto auto auto;
}

.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}